{% extends "remapp/base.html" %}


    {% block headextras %}
    <!-- Bootstrap-datepicker CSS -->
    <!-- Bootstrap-datepicker JavaScript
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker3.css">

    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/charts/chartCommonFunctions.js"></script>

    <!-- Internet Explorer (up to version 8) doesn't support array indexOf. The script
    below adds the functionality if it is missing. -->
    <script>
    if (!Array.prototype.indexOf) {
        Array.prototype.indexOf = function(obj, start) {
            for (var i = (start || 0), j = this.length; i < j; i++) {
                if (this[i] === obj) { return i; }
            }
            return -1;
        }
    }
    </script>

    {% block headscript %}
    {% endblock %}
    {% endblock %}


      {% block mainblock %}


      <div class="row">

        <div class="col-md-9">
          {% block plotdata %}
          {% endblock %}

          {% block col1 %}
          {% endblock %}
        </div>

        <div class="col-md-3">
          {% block col2 %}
          {% endblock %}
        </div>
      </div>
      {% endblock %}


    {% block jsblock %}
    {% endblock %}

{% block navhelp %}
        <li>
            <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/i_navigate.html" target="_blank" data-toggle="tooltip" title="Web interface documentation - opens in a new tab">
                Web interface documentation
            </a>
        </li>
        <li>
            <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/charts.html" target="_blank" data-toggle="tooltip" title="Charts documentation - opens in a new tab">
                Charts documentation
            </a>
        </li>
        <li>
            <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/charts.html#chart-options" target="_blank" data-toggle="tooltip" title="Chart options documentation - opens in a new tab">
                Chart options documentation
            </a>
        </li>
        <li>
            <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/i_exporting.html" target="_blank" data-toggle="tooltip" title="Study export documentation - opens in a new tab">
                Study export documentation
            </a>
        </li>
    {% block filterednavhelp %}
    {% endblock %}
{% endblock %}
