<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Error connecting to RabbitMQ management API</h3>
  </div>
  <div class="panel-body">
    <p>
      We have been unable to connect to the RabbitMQ management API.
    </p>
    <p>
      Please review the installation documentation to see how to enable the RabbitMQ management interface. You will find
      them at
      <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/install-prep.html#enable-rabbitmq-queue-management-interface"
         target="_blank" data-toggle="tooltip" title="RabbitMQ management installation documentation - opens in a new tab">
        https://docs.openrem.org/en/{{ admin.docsversion }}/install-prep.html#enable-rabbitmq-queue-management-interface
      </a>
    </p>
  </div>
</div>