{% extends "remapp/base.html" %}

{% block headextras %}
{% endblock %}

{% block confnav %}
  <li class="dropdown active">{% endblock %}

{% block navhelp %}
  <li>
    <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/i_deletestudies.html" target="_blank"
       data-toggle="tooltip" title="Study deletion documentation - opens in a new tab">
      Study deletion documentation
    </a>
  </li>
{% endblock %}

{% block toprow %}



  <p>
    There are {{ studies_count }} studies in this list which
    has been filtered by the modality {{ modality }} {% if modality == "DX" %}(including CR){% endif %} and do not have
    an entry in the unique_equipment_name table.
  </p>



  <script>
      function studiesDeleteButton() {
          $.ajax(
              {
                  url: "/admin/review/studiesdeletefailed",
                  data: {
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                      modality: '{{ modality }}'
                  },
                  type: "POST",
                  success: function (data) {
                      $('#deleteStudiesSpan').html(data);
                  }
              }
          )
      }
  </script>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Study delete</h3>
        </div>
        <div class="panel-body">
            <p>Remove these studies from the database?</p>

            <span id="deleteStudiesSpan">
                {% if studies_count %}
                    <button class="btn btn-warning" onclick="studiesDeleteButton()">Delete studies</button>
                {% else %}
                    <button class="btn btn-default" disabled="disabled">Delete studies</button>
                {% endif %}
            </span>

        </div>
    </div>

{% endblock %}


{% block mainblock %}

  <div class="pagination">
    <span class="step-links">
        {% if studies.has_previous %}
            <a href="?page={{ studies.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ studies.number }} of {{ studies.paginator.num_pages }}.
        </span>

        {% if studies.has_next %}
            <a href="?page={{ studies.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

  <table class="table table-bordered table-striped">
    <tr>
      <td colspan="2">General</td>
      <td colspan="1">Equipment module</td>
      <td colspan="2">Patient module</td>
      <td colspan="3">CT data</td>
      <td colspan="2">DX/RF/MG</td>
      <td colspan="4">Accumulated data</td>
      <td colspan="4">Irradiation event data</td>
    </tr>
    <tr>
      <th>Date and time</th>
      <th>Accession number <br> Study description</th>
      <th>Equipment details</th>
      <th>General</th>
      <th>Study</th>
      <th>Template</th>
      <th>Accumulated</th>
      <th>Events</th>
      <th>Template</th>
      <th>Accumulated</th>
      <th>Fluoro & DX</th>
      <th>Mammography</th>
      <th>Cassette based</th>
      <th>Projection</th>
      <th>General</th>
      <th>Detector</th>
      <th>Source</th>
      <th>Mechanical</th>
    </tr>
    {% for study in studies %}

      <script>
          $(document).ready(
              function get_review_data(json) {
                  $.ajax(
                      {
                          url: "/admin/review/failed/study",
                          data: {
                              study_pk: '{{ study.pk }}',
                              csrfmiddlewaretoken: '{{ csrf_token }}'
                          },
                          type: "POST",
                          success: function (data) {
                              $('#row{{ study.pk }}').html(data);
                          }
                      }
                  )
              }
          )
      </script>
      <tr id="row{{ study.pk }}"></tr>
    {% endfor %}
  </table>
    <div class="pagination">
    <span class="step-links">
        {% if studies.has_previous %}
            <a href="?page={{ studies.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ studies.number }} of {{ studies.paginator.num_pages }}.
        </span>

        {% if studies.has_next %}
            <a href="?page={{ studies.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}